.center,
.error,
.return {
  display: flex;
  flex-direction: column;
}

.center {
  margin: 30px;
}

.error,
.return {
  align-items: center;
}

.error p {
  margin: 0;
  color: white;
}

.p_404 {
  font-size: 3.5em;
  font-weight: bolder;
}

.p_error {
  font-size: 1.2em;
}

.error img {
  width: 42%;
}

.return {
  margin-top: 0.5em;
}

.return a {
  text-decoration: none;
  color: #b42121;
}

.return a:hover {
  border-bottom: 2px solid #b42121;
  font-size: 1.2em;
}
