.center {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.error p {
  margin: 0;
  color: white;
}

.p_404 {
  font-size: 50px;
  font-weight: bolder;
}

.p_error {
  font-size: 20px;
}

.error img {
  width: 40%;
}

.return {
  margin-top: 15px;
}

.return a {
  text-decoration: none;
  color: #b42121;
}

.return a:hover {
  border-bottom: 2px solid #b42121;
  font-size: 18px;
}
