.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.card_container {
  margin: 30px;
  width: 300px;
  height: 380px;
  overflow: hidden;
}

.card_visible {
  height: 100%;
  min-width: 100%;
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-out;
}

.btn_next,
.btn_prev {
  width: 85px;
  height: 30px;
  border-radius: 12px;
  font-family: Courier;
  font-weight: 600;
  background: linear-gradient(to right, #1e2332 0%, #8c9598 51%, #1a2032 100%);
  margin: 10px;
  padding: 5px 15px;
  text-align: center;
  transition: 0.4s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 25px #d8d7d7;
}

.btn_next:hover,
.btn_prev:hover {
  background-position: right center;
}

.btn_next {
  margin-left: 10px;
}

.errLast,
.errFirst {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.learned {
  margin-top: 5%;
  color: white;
}

.loading,
.err {
  color: white;
  font-size: 1.3em;
  margin-top: 2em;
}

.err {
  margin-top: 10em;
}

.wrapperLoader {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  transition: 0.6s;
  align-items: center;
  margin-top: 12em;
}

.loader {
  display: flex;
  flex-direction: row;
  width: 3em;
  height: 3em;
  border: 1em solid rgb(111, 137, 134);
  border-radius: 50%;
  border-left-color: rgb(73, 177, 130);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
