table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 96%;
  font-family: Courier;
  margin: 4% 2%;
}

table th,
table td {
  text-align: center;
  padding: 5px;
  border: 1px solid #000;
  background-color: #efefef;
  border-radius: 6px;
  width: 140px;
}

table td {
  font-size: 16px;
}

table th {
  background: linear-gradient(to bottom, #2f302f 0%, #1d1e1e 50%, #484846 100%);
  color: rgb(221, 217, 217);
  font-size: 16px;
}

.td_change,
.td_delete {
  width: 100px;
}

.loading,
.err {
  color: white;
  font-size: 1.3em;
  margin-top: 2em;
}
.err {
  margin-top: 10em;
}

.wrapperLoader {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  transition: 0.6s;
  align-items: center;
  margin-top: 12em;
}

.loader {
  display: flex;
  flex-direction: row;
  width: 3em;
  height: 3em;
  border: 1em solid rgb(111, 137, 134);
  border-radius: 50%;
  border-left-color: rgb(73, 177, 130);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
