table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 96%;
  font-family: Courier;
  margin: 20px;
}

table th,
table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
  background-color: rgb(247, 244, 229);
  border-radius: 6px;
  width: 170px;
}

table td {
  font-size: 18px;
}

table th {
  background-color: #628e78;
  color: black;
  font-size: 16px;
}

.td_change,
.td_delete {
  width: 100px;
}

.change,
.delete,
.save,
.cancel {
  background-color: rgb(161, 60, 68);
}

.change,
.delete {
  width: 45px;
  border-radius: 16px;
  height: 40px;
}

.save,
.cancel {
  width: 80px;
  border-radius: 10px;
  height: 30px;
}
