table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 96%;
  font-family: Courier;
  margin: 4% 2%;
}

table th,
table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
  background-color: #efefef;
  border-radius: 6px;
  width: 170px;
}

table td {
  font-size: 18px;
}

table th {
  background: linear-gradient(to bottom, #2f302f 0%, #1d1e1e 50%, #484846 100%);
  color: rgb(221, 217, 217);
  font-size: 16px;
}

.td_change,
.td_delete {
  width: 100px;
}

.save,
.cancel {
  background: linear-gradient(to bottom, #f36f6f 0%, #c15252 50%, #b42121 100%);
}

.save,
.cancel {
  width: 80px;
  border-radius: 10px;
  border-width: 1px;
  height: 30px;
}
